#header{ 
    width: 100%;  
    height: 150px;  
    background-color: #3b3b3b;
    margin-bottom: 0px; 
    background: #3b3b3b url(assets/img/logo_small.png) no-repeat 0% 50%;
} 

.menu{
    list-style: none;
    position: absolute;
    top: 55px;
    right: 50px;
}

.titles{
	width: 140px;
	float: left;
    color: #e7e2bb;
    font-family: Dense;
}

.class{
    float: right;
    background-color: #333333
}

.color{
    background-color: #b9b9b9;
}

.uli{
    list-style: url('assets/img/uord.png')
}

#form_message{
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 5px;
	margin:10px;
	padding: 10px;
	width: 320px;
	height:330px;
}

#form_message input,textarea{
	border-radius: 5px;
	width: 170px;
}

#submit{

	height: 50px;
	float: right;
    background-color: #8b8b8b
    color: #adadad
}

input:hover {
    background-color: #8b8b8b;
    color: #000000
}

input:active{
    background-color: #7b7b7b;
}

#form_message h2{
	text-align: center;
}

body{
    background-color:#1b1b1b;
}

h1{ 
    color:#19d8b6;
    font-size: 75px;
    font-family: Dense;
    margin-top: 0px;
    text-align: center;
    line-height: 0.1; 
    padding-top: 55px
}

h2{
    width: 100%; 
    color: #e9d423;
    font-size: 25px;
    font-family: UniSans;
    text-align: center;
    line-height: 0.1;
}

p{
    width: 100%; 
    color: #c4c4c4;
    font-size: 20px;
    font-family: Pelinka;
    text-align: center;
    line-height: 1.3;
}

a{
    font-family:UniSans;
    text-decoration: none
}
a:link {
    color: #c4c4c4;
}
a:visited {
    color: #e8e8e8;
}
a:hover {
    color: #8b8b8b;
}
a:active {
    color: #7b7b7b;
}

ul {
    list-style: url('assets/img/ord.png');
    width: 100%; 
    color: #c4c4c4;
    font-size: 20px;
    font-family: Pelinka;
    justify-content: center;
    line-height: 1.3;
    display: grid;
  }


ol{
    list-style: none;  
}

table{
    border:4px solid #fdfdfd
}

@font-face{
    font-family: "Dense";
    src: url("assets/fonts/DenseLetters.otf") format("truetype");
    font-style: normal; 
    font-weight: normal; 
}

@font-face {
    font-family: "UniSans";
    src: url("assets/fonts/UniSans.otf") format("truetype");
    font-style: normal; 
    font-weight: normal;
}

@font-face {
    font-family: "Pelinka";
    src: url("assets/fonts/PelinkaLight.otf") format("truetype");
    font-style: normal; 
    font-weight: normal;
}
